@import 'fonts';

[class*="css"]  {
	font-family: 'FreeSans';
}

.katex-html {
    text-align: left;
}

[data-testid=stSidebar] {
    background-color: #ffffff20;
}

[data-testid="stHeader"] {
    background-color: rgba(0,0,0,0);
}

div[role="listbox"] ul {
    background-color: red;
}

.highlight {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.bold {
    padding-left: 1rem;
    font-weight: 700;
}
.blue {
    background-color: lightcoral;
}
.red {
    background-color: lightblue;
}
